This is the Project Proposal for our Data Science group project.

In [14]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)

In [16]:
switzerland_heart_disease <- read_delim("processed.switzerland.data", delim=",", col_names=c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
switzerland_heart_disease

Parsed with column specification:
cols(
  age = col_double(),
  sex = col_double(),
  cp = col_double(),
  trestbps = col_character(),
  chol = col_double(),
  fbs = col_character(),
  restecg = col_character(),
  thalach = col_character(),
  exang = col_character(),
  oldpeak = col_character(),
  slope = col_character(),
  ca = col_character(),
  thal = col_character(),
  num = col_double()
)

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   32  1   1  95       0    ?   0       127     0     .7      1     ?  ?
2   34  1   4  115      0    ?   ?       154     0     .2      1     ?  ?
3   35  1   4  ?        0    ?   0       130     1     ?       ?     ?  7
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
121 72  1   3  160      0    ?   2       114     0     1.6     2     2  ?
122 73  0   3  160      0    0   1       121     0     0       1     ?  3
123 74  1   2  145      0    ?   1       123     0     1.3     1     ?  ?
    num
1   1
2   1
3   3
⋮   ⋮
121 0
122 1
123 1